#masthead {
  background: @blue;
  box-shadow: 0 0 20px #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  #desktop-header {
    
  }
  .desktop-header-wrapper {
    position: relative;
    padding-top: 50px;
    margin-top: 0;
    &:before {
      content: "";
      position: absolute;
      top: -795px; left: -18px;
      bottom: 0; right: 0;
      width: 106%;
      z-index: -1;
      height: auto;
      background: @blue;
      background-size: 100% auto;
    }
    h1 {
      &.site-branding {
        text-align: center;
        margin-bottom: 25px;
        padding-right: 0.985rem;
        font-family: @heading, Helvetica, Roboto, Arial, sans-serif;
        font-weight: 400;
        font-size: 5rem !important;
        #logo-holder {
          margin: 0 318.5px;
          position: relative !important;
          a {
            position: relative;
            width: 387px;
            top: -40px;
            img {
              position: absolute;
              width: inherit;
              z-index: 99;
              &#logo {
                width: 13.4%;
                top: -48px;
                margin-left: -6.95%;
              }
              // alt logo
              &#shield {
                width: auto !important;
                height: calc(0.532125 * 129px) !important;
                right: 0px;
                top: -10px;
              }
              &#text {
                width: auto !important;
                height: calc((33 / 80) * 129px) !important;
                left: 0;
              }
            } 
          }
        }
      }
    }
    .main-navigation {
      display: none;
    }
    #desktop-site-navigation {
      border-top: 2px solid @red;
      text-align: center;
      -webkit-border-top-left-radius: 0px;
      -moz-border-radius-topleft: 0px;
      border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -moz-border-radius-topright: 0px;
      .top-bar-section:hover {
        border-bottom: 1px solid @darkblue;
      }
      #site-menu {
        width: 100%;
        position: relative;
        li {
          margin-left: -0.03rem !important;
          margin-right: -0.03rem !important;
          background: @blue;
          &.button {
            padding: 0;
          }
          &.menu-item {
            text-align: center;
            font-size: 0.45rem;
            margin-bottom: 0;
            a {
              background: @blue !important;
              position: relative;
              color: @white;
              white-space: nowrap;
              width: 100%;
              letter-spacing: 0.01rem;
              .fa {
                position: relative;
                bottom: 2px;
                left: 5px;
              }
            }
            .dropdown {
              border-top: 2px solid @darkblue;
              background: @blue;
              position: fixed;
              left: 0;
              right: 0;
              &.active {
                display: block;
                top: 7.2rem;
              }
              .sub-menu {
                position: relative;
                left: 0;
                top: 0;
                &>li {
                  //width: 144px;
                }
              }
              &.open {
                .column-header {
                  a {
                    font-weight: bold;
                    font-size: 1.5rem;
                  }
                }
              }
            }
            &:last-child {
              //border-left: 0;
            }
            &:not(:first-child) {
              //border-left: 0.0725rem solid @transwhite;
            }
            &:last-child {
              //border-right: 0;
            }
            &:not(:last-child) {
              //border-right: 0.0725rem solid @transwhite;
            }
            &.menu-item-divider {
              position: relative;
              min-height: 39px;
              a {
                visibility: hidden;
              }
            }
            a {
              font-family: @jaf, Helvetica, Roboto, Arial, sans-serif;
              font-weight: 700;
              padding-top: 1rem;
              padding-bottom: 1.0625rem;
              text-transform: uppercase;
              transition-property: all;
              transition-duration: 0.25s;
              -moz-transition-property: all;
              -moz-transition-duration: 0.25s;
              -webkit-transition-property: all;
              -webkit-transition-duration: 0.25s;
              &:hover, &.hover {
                background: rgba(255,255,255,.1);
                /*
                text-shadow: 
                  0 0 1px @white,
                  0 0 2px @white,
                  0 0 20px @neonblue;
                */
                letter-spacing: .025rem;
                transition-property: all;
                transition-duration: 0.25s;
                -moz-transition-property: all;
                -moz-transition-duration: 0.25s;
                -webkit-transition-property: all;
                -webkit-transition-duration: 0.25s;
              }
            }
            .sub-menu {
              li {
                a {
                  white-space: nowrap;
                }
              }
            }
          }
          &.current_page_item {
            background: @gray;
            margin-bottom: 1px;
            z-index: 999;
            &.home {
              -webkit-border-top-left-radius: 0;
              -moz-border-radius-topleft: 0;
              border-top-left-radius: 0;
              -o-border-top-left-radius: 0;
              -ms-border-radius-topleft: 0;
            }
            a, a:hover {
              color: #f00;
              text-shadow: 0 1px 1px rgba(0,0,0,.5);
              letter-spacing: 0;
            }
            /*
            &:after {
              content: "";
              position: absolute;
              bottom: -15px;
              left: 42%;
              border-width: 15px 15px 0;
              border-style: solid;
              border-color: @gray rgba(0, 0, 0, 0);
              display: block;
              width: 0;
              z-index: 99;
            }
            */
          }
        }
      }
    }
  }
}

// FOUNDATION TWEAKS
.button-bar {
  .button-group {
    margin-right: 0;
    li, .button {
      border: 0 !important;
    }
  }
}
.button-group.even-10 {
  li {
    .button-group.even-4 {
      .button {
        width: 25%;
        float: left;
        ul.sub-menu {
          li {
            width: 100%;
          }
        }
      }
    }
    .button-group.even-5 {
      .button {
        width: 20%;
        float: left;
        ul.sub-menu {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}


// begin mobile
.off-canvas-wrap.move-right #main-wrapper {
  overflow: hidden;
}
#mobile-header {
  height: 5.03rem;
  z-index: 99;
  a:not([rel='home']) {
    padding-top: 20px;
    padding-left: 33px;
    z-index: 999;
  }
  .menu-main-menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (min-width : 320px) and (max-width : 892px) {
  #masthead {
    //position: relative;
    #mobile-header {
      display: block;
      h1 {
        position: absolute;
        right: 0;
        a {
          right: 0;
          margin-left: 33px;
        }
      }
    }
    #desktop-header {
      display: none;
    }
  }
  .left-off-canvas-toggle {
    position: relative;
    padding: 15px;
  }
  .left-off-canvas-toggle .line {
    display: block;
    background: #fff;
    height: 4px;
    position: absolute;
    left: 10px;
    right: 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .left-off-canvas-toggle.active .line {
    display: block;
    background: #fff;
    height: 4px;
    position: absolute;
    left: 10px;
    right: 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .left-off-canvas-toggle .line.line-1 {
    top: 18px;
  }
  .left-off-canvas-toggle .line.line-2 {
    top: 27px;
  }
  .left-off-canvas-toggle .line.line-3 {
    top: 36px;
  }
  .left-off-canvas-toggle:hover .line-1 {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
  }
  .left-off-canvas-toggle:hover .line-3 {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
  }
  .left-off-canvas-toggle.active .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10px) translateX(0) rotate(45deg);
  }
  .left-off-canvas-toggle.active .line-2 {
    opacity: 0;
  }
  .left-off-canvas-toggle.active .line-3 {
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-8px) translateX(0) rotate(-45deg);
  }
}

@media screen and (max-width : 320px) {
  #masthead {
    .left-off-canvas-toggle {
      top: 30px !important;
      left: 5px !important;
    }
    #mobile-header {
      //padding-bottom: 1.35rem;
      h1 {
        &.site-branding {
          right: 6px;
          font-size: 2.6rem;
          top: 0.35rem !important;
        }
      }
    }
  }
  #content {
    #hero {
      padding-right: 0;
    }
  }
}

@media screen and (min-width : 320px) and (max-width : 1024px) {
  .move-right {
    #masthead {
      #mobile-header {
        // padding-bottom: 2rem;
      }
    }
  }
  #masthead {
    #mobile-header {
      margin-left: 0;
      border-bottom: 1px solid @red;
      h1 {
        &.site-branding {
          #logo-holder {
            a {
              position: absolute;
              left: 4%;
              img {
                &#shield {
                  max-height: 81px;
                  width: auto;
                  margin-left: 3px;
                }
                &#text {
                  width: calc(55%);
                  margin-left: -3px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 480px) {
  #masthead {
    .left-off-canvas-toggle {
      top: 30px;
      left: 18px;
    }
    #mobile-header {
      //padding-bottom: 2rem;
      h1 {
        top: 1rem;
      }
    }
  }
}

@media screen and (max-width : 568px) {
  .move-right {
    #mobile-header {
      //padding-bottom: 3.5rem !important;
    }
  }
  #masthead {
    .left-off-canvas-toggle {
      top: 30px;
      left: 18px;
    }
    #mobile-header {
      //padding-bottom: 2rem;
      h1 {
        top: 12px;
        &.site-branding {
          #logo-holder {
            a {
              position: absolute;
              top: -2px;
              img {
                &#shield {
                  width: 14.625% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 569px) and (max-width: 640px) {
  #masthead {
    .left-off-canvas-toggle {
      top: 15px;
      left: 5px;
    }
    #mobile-header {
      h1 {
        top: 12px;
        &.site-branding {
          #logo-holder {
            a {
              position: absolute;
              top: -56px;
              img {
                &#shield {
                  width: 8.625% !important;
                }
                &#text {
                  width: 30.74375%;
                  margin-left: -5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 640px) and (max-width : 767px) {
  .move-right {
    #mobile-header {
      //padding-bottom: 4.5rem;
    }
  }
  .left-off-canvas-toggle {
    top: 30px !important;
    left: 23px !important;
  }
  #mobile-header {
    //padding-bottom: 2rem;
    h1 {
      &.site-branding {
        #logo-holder {
          a {
            position: absolute;
            top: -39px;
            img {
              &#shield {
                width: calc(25 / 160 * 100%) !important;
                //height: calc(53 / 80 * 100%) !important;
                margin-left: 3px;
              }
              &#text {
                width: calc(80 / 160 * 100%) !important;
                //height: calc(33 / 80 * 100%) !important;
                margin-left: -5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 641px) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.25375rem 0 0.15rem;
    white-space: nowrap;
    &:after {
      right: 0.1rem;
    }
  }
}

@media screen and (min-width : 768px) and (max-width : 892px) {
  .move-right {
    #mobile-header {
     // padding-bottom: 5.25rem;
    }
  }
  .left-off-canvas-toggle {
    top: 31px !important;
    left: 30px !important;
  }
  #mobile-header {
    //padding-bottom: 2.9rem;
    h1 {
      top: 0.2rem !important;
      &.site-branding {
        #logo-holder {
          a {
            position: absolute;
            top: -31px;
            left: 18%;
            img {
              height: 55px !important;
              &#shield {
                width: auto !important;
              }
              &#text {
                width: auto !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 892px) {
  #mobile-header {
    right: 0;
  }
}

@media screen and (min-width : 893px) {
  #mobile-header {
    display: none;
  }
  #desktop-header {
    display: block;
  }
}

@media screen and (min-width : 640px) and (max-width : 1023px) {
  #masthead {

  }
}

@media screen and (max-width : 1024px) {
  #masthead {
    .desktop-header-wrapper {
      h1.site-branding {
        #logo-holder {
          a {
            right: 27%;
          }
        }
      }
    }
  }          
}

@media screen and (min-width : 1024px) and (max-width : 1050px) {
  #masthead {
    .desktop-header-wrapper {
      h1.site-branding {
        
      }
    }
  }
}

@media screen and (min-width : 1051px) and (max-width : 1440px) {
  #masthead {
    .desktop-header-wrapper {
      h1.site-branding {
        #logo-holder {
          a {
            img {
              margin-left: -6rem;
              &#shield {
                top: -47px;
                margin-left: -10.75rem;
                width: 5.25%;
              }
              &#text {
                top: -35px;
                width: 17.25%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1441px) and (max-width : 1600px) {
  #masthead {
    .desktop-header-wrapper {
      h1.site-branding {
        #logo-holder {
          a {
            img {
              &#shield {
                
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1601px) and (max-width : 1920px) {
  #masthead {
    .desktop-header-wrapper {
      h1.site-branding {
        #logo-holder {
          a {
            img {
              &#shield {
                
              }
            }
          }
        }
      }
    }
  }
}















