#masthead {
  background: @blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  #desktop-header {
    
  }
  .desktop-header-wrapper {
    position: relative;
    margin-top: 0;
    &:before {
      content: "";
      position: absolute;
      top: -795px; left: -18px;
      bottom: 0; right: 0;
      width: 106%;
      z-index: -1;
      height: auto;
      background: @blue;
      background-size: 100% auto;
    }
    figure {
      &.site-branding {
        text-align: center;
        font-family: @heading, Helvetica, Roboto, Arial, sans-serif;
        font-weight: 400;
        font-size: 5rem !important;
        position: relative;
        margin: 0;
        #logo-holder {
          margin: 0 318.5px;
          position: relative !important;
          width: 487px;
          height: 95px;
          a {
            img {
              position: absolute;
              width: inherit;
              padding: 8px 0 !important;
              z-index: 99;
              &#logo {
                width: 13.4%;
                top: -48px;
                margin-left: -6.95%;
              }
              // alt logo
              &#shield {
                max-width: 100px;
                left: 0;
              }
              &#text {
                max-width: 365px;
                top: 11px;
                right: 1rem;
              }
            } 
          }
        }
      }
    }
    #desktop-site-navigation {
      border-top: 2px solid @red;
      text-align: center;
      -webkit-border-top-left-radius: 0px;
      -moz-border-radius-topleft: 0px;
      border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -moz-border-radius-topright: 0px;
      #mega-menu-main {
        width: 100%;
        position: relative;
        li {
          
          &.button {
            padding: 0;
          }
          &.mega-menu-item {
            text-align: center;
            margin-bottom: 0;
            a {
              position: relative;
              color: @white;
              white-space: nowrap;
              width: 100%;
              padding-left: 0.5rem;
              letter-spacing: 0.01rem;
              &:after {
                margin-top: 0 !important;
                margin-right: 0 !important;
              }
              .fa {
                position: relative;
                bottom: 2px;
                left: 5px;
              }
            }
          }
        }
      }
    }
  }
}

// FOUNDATION TWEAKS
.button-bar {
  .button-group {
    margin-right: 0;
    li, .button {
      border: 0 !important;
    }
  }
}

.mega-menu-columns-1-of-10 {
  width: 9.5% !important;
  margin: 0 1px !important;
  border-left: 1px solid rgba(255,255,255,0.3) !important;
  &:first-child {
    border-left: 0 !important;
  }
  &:last-child {
    border-right: 0 !important;
  }
  a {
    text-transform: uppercase !important;
  }
}


// begin mobile
.off-canvas-wrap.move-right #main-wrapper {
  overflow: hidden;
}
#mobile-header {
  height: 65px;
  z-index: 99;
  .site-branding {
    position: relative;
    #mobile-menu-button {
      top: 30%;
      left: 1rem;
    }
    figure {
      position: absolute;
      top: -1px;
      right: 0;
      margin: 0;
      display: table;
      height: inherit;
      #logo-holder {
        position: relative;
        display: table-cell;
        a {
          img {
            &#shield {
              width: 75px;
              margin-top: 0.5rem;
            }
            &#text {
              margin-left: -4px;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
  a:not([rel='home']) {
    padding-left: 33px;
    z-index: 999;
  }
  .menu-main-menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (min-width : 320px) and (max-width : 892px) {
  #masthead {
    //position: relative;
    #mobile-header {
      display: block;
      height: 95px !important;
      .site-branding {
        height: 100%;
        figure {
          #logo-holder {
            top: -11px;
          }
        }
      }
    }
    #desktop-header {
      display: none;
    }
  }
  .left-off-canvas-toggle {
    position: relative;
    padding: 15px;
  }
  .left-off-canvas-toggle .line {
    display: block;
    background: #fff;
    height: 4px;
    position: absolute;
    left: 10px;
    right: 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .left-off-canvas-toggle.active .line {
    display: block;
    background: #fff;
    height: 4px;
    position: absolute;
    left: 10px;
    right: 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  }
  .left-off-canvas-toggle .line.line-1 {
    top: 18px;
  }
  .left-off-canvas-toggle .line.line-2 {
    top: 27px;
  }
  .left-off-canvas-toggle .line.line-3 {
    top: 36px;
  }
  .left-off-canvas-toggle:hover .line-1 {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
  }
  .left-off-canvas-toggle:hover .line-3 {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
  }
  .left-off-canvas-toggle.active .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10px) translateX(0) rotate(45deg);
  }
  .left-off-canvas-toggle.active .line-2 {
    opacity: 0;
  }
  .left-off-canvas-toggle.active .line-3 {
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-8px) translateX(0) rotate(-45deg);
  }
}

@media screen and (max-width : 320px) {
  #masthead {
    .left-off-canvas-toggle {

    }
    #mobile-header {
      
      figure {
        &.right {
          right: 6px;
          font-size: 2.6rem;
          top: 0.35rem !important;
        }
        #logo-holder {
          top: 3px !important;
          left: 32px !important;
          a {
            img {
              &#shield {
                width: 55px;
                margin-top: -1.5rem;
              }
              &#text {
                margin-top: -1rem;
                margin-left: -10px;
                width: 65% !important;
              }
            }
          }
        }
      }
    }
  }
  #content {
    #hero {
      padding-right: 0;
    }
  }
}

@media screen and (min-width : 320px) and (max-width : 1024px) {
  #masthead {
    #mobile-header {
      position: relative;
      margin-left: 0;
      border-bottom: 1px solid @red;
      height: 65px !important;
      figure {
        &.right {
          #logo-holder {
            a {
              
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 480px) {
  #masthead {
    .left-off-canvas-toggle {

    }
    #mobile-header {
      figure {

      }
    }
  }
}

@media screen and (max-width : 568px) {
  #mobile-header {
    .site-branding {
      figure {
        #logo-holder {
          top: -11px !important;
          a {
            img {
              &#shield {
                margin-top: .85rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 569px) and (max-width: 640px) {
  #masthead {
    .left-off-canvas-toggle {

    }
    #mobile-header {
      figure {
        &.right {
          #logo-holder {
            a {

            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 640px) and (max-width : 767px) {
  .move-right {
    #mobile-header {
      //padding-bottom: 4.5rem;
    }
  }
  .left-off-canvas-toggle {

  }
  #mobile-header {
    figure {
      &.right {
        #logo-holder {
          a {

          }
        }
      }
    }
  }
}

@media screen and (min-width : 641px) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.25375rem 0 0.15rem;
    white-space: nowrap;
    &:after {
      right: 0.1rem;
    }
  }
}

@media screen and (min-width : 768px) and (max-width : 892px) {
  #mobile-header {
    position: relative;
    figure {
      &.right {
        #logo-holder {
          top: -10px;
          a {
            img {
              margin-top: 0.8rem !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 892px) {
  #mobile-header {
    right: 0;
  }
}

@media screen and (min-width : 893px) {
  #mobile-header {
    display: none;
  }
  #desktop-header {
    display: block;
    .desktop-header-wrapper {
      figure.right {
        #logo-holder {
          a {

          }
        }
      }
    }
  }
}

@media screen and (min-width : 640px) and (max-width : 1023px) {
  #masthead {

  }
}

@media screen and (min-width : 893px) and (max-width : 1023px) {
  #masthead {
    .desktop-header-wrapper {
      #desktop-site-navigation {
        #site-menu {
          &> li {
            &.menu-item {
              &> a {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 1024px) {
  #masthead {
    .desktop-header-wrapper {
      figure.right {
        #logo-holder {
          a {
            right: 27%;
          }
        }
      }
    }
  }          
}

@media screen and (min-width : 1024px) and (max-width : 1050px) {
  #masthead {
    .desktop-header-wrapper {
      figure.right {
        
      }
    }
    #desktop-site-navigation {
      #site-menu {
        &> li {
          &.menu-item {
            &> a {
              font-size: 0.5625rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1051px) and (max-width : 1280px) {
  #masthead {
    .desktop-header-wrapper {
      figure.right {
        #logo-holder {
          a {

          }
        }
      }
      #desktop-site-navigation {
        #site-menu {
          &> li {
            &.menu-item {
              &> a {
                font-size: 0.585rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1281px) and (max-width : 1360px) {
  #masthead {
    .desktop-header-wrapper {
      #desktop-site-navigation {
        #site-menu {
          &> li {
            &.menu-item {
              &> a {
                font-size: 0.6875rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1361px) and (max-width : 1440px) {
  #masthead {
    .desktop-header-wrapper {
      #desktop-site-navigation {
        #site-menu {
          &> li {
            &.menu-item {
              &> a {
                font-size: 0.79rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1441px) and (max-width : 1600px) {
  #masthead {
    .desktop-header-wrapper {
      figure.right {
        #logo-holder {
          a {

          }
        }
      }
      #desktop-site-navigation {
        #site-menu {
          &> li {
            &.menu-item {
              &> a {
                font-size: 0.8125rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1601px) and (max-width : 1920px) {
  #masthead {
    .desktop-header-wrapper {
      figure.right {
        #logo-holder {
          a {

          }
        }
      }
      #desktop-site-navigation {
        #site-menu {
          &> li {
            &.menu-item {
              &> a {
                font-size: 0.9375rem;
              }
            }
          }
        }
      }
    }
  }
}















