
wp-activate.php

wp-admin/

wp-cron.php

wp-includes/

wp-links-opml.php

wp-load.php

wp-mail.php

wp-settings.php

wp-signup.php

wp-trackback.php

xmlrpc.php
index.php

license.txt

readme.html

wp-blog-header.php

wp-comments-post.php

wp-config-sample.php

wp-config.php

wp-content/plugins/

wp-content/uploads/

wp-login.php
wp-content/themes/clubrugby/img/background-4.png

wp-content/themes/clubrugby/img/background.png

wp-content/themes/clubrugby/img/club-rugby-text.psd

wp-content/themes/clubrugby/js/min/foundation.min-min.js
