.w100 {
  width: 100%;
}
.w350 {
  background:url(http://placehold.it/350);
}
.s400 {
  background:url(http://placehold.it/400);
}
.pA {
  position: absolute;
}
.pR {
  position: relative;
}
.proh {
  position: relative;
  overflow: hidden;
}
.title {
  height: 50px;
}