.home {
	#main-wrapper {
		#content-wrapper {
			#content {
				#featured-matches {
					margin-top: 2rem;
				}
				#latest-news-headlines {
					position: relative;
					margin: 0 auto;
					width: auto;
					height: 100%;
					// begin freewall
					#container {
						width: 100%;
						margin: auto;
						.brick {
							width: 24%;
							height: 100%;
							margin: 5px;
							float: left;
							overflow: hidden;
						}
						.news-item {
							background: #ccc;
							img {
								margin: 0;
								display: block;
							}
							h1 {
								font-family: @jaf;
								font-size: 2rem;
								font-weight: 700;
								color: @blue;
								padding-left: 7px;
								text-shadow: 1px 1px 1px @white;
							}
							.news-item-excerpt {
								padding-left: 7px;
							}
							.news-item-metadata {
								font-size: 1.25rem;
								text-align: center;
								color: @blue;
								line-height: 1 !important;
								text-shadow: 0 1px 1px @white; 
							}
						}
					}
				}
			}
		}
	}
}