#news {
	#news-menu {
		//position: fixed;
		background: #fff;
		z-index: 99;
		dl {

		}
		.sub-nav, hr {
			max-width: 1200px;
			dt {
				margin-bottom: -0.5rem;
				margin-top: 0.5rem;
			}
			form {
				ul {
					line-height: 0;
					margin-bottom: 0;
					li {
						select {
							margin: 0;
						}
					}
				}
			}
		}
	}
	#news-articles {
		margin-top: 9.9875rem;
	}
}