.royalSlider {
	.rsNav {
		background: #252227;
		-webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
		.rsBullet {
			width: 10px;
			height: 10px;
			padding: 10px 5px;
			&.rsNavSelected {
				span {
					background-color: #fff;
				}
			}
		}
	}
}

.rsUni, .rsUni .rsOverflow, .rsUni .rsSlide, .rsUni .rsVideoFrameHolder, .rsUni .rsThumbs {
	background: #554345 !important;
}