/* Imports */
@import "vendor/reset.less";
@import "vendor/normalize.less";
@import "vendor/font-awesome.min.less";
@import "vendor/foundation.min.less";

@import "global/header.less";
@import "global/footer.less";
@import "global/page.less";

@import "specific/home.less";
@import "specific/news.less";
@import "specific/slider.less";

/* Fonts */
@jaf : "jaf-facitweb";
@heading : "refrigerator-deluxe";
@post : "kulturista-web";
@fawesome : "FontAwesome";

/* Colors */
@red: #a80019;
@link: #c4152f;
@blue: #001830;
@darkgray: #555;
@gray: #ccc;
@lightgray: #dadada;
@black: #000;
@white: #fff;
@neonblue: #05b4ed;
@gold: rgba(255,215,0,0.75);
@transblue: rgba(0,24,48, 0.65);
@transwhite: rgba(255,255,255,.3);

/* Items */
@bluegray: #4E5065;
 
/* Effects */
@headingShadow: 2px 2px 2px rgba(0,0,0,.75);

/* 1200px Width */
@w12: 75em;